<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
	<listeners>
		<listener class-name="listener.Listeners"></listener>
	</listeners>
	<test name="Test">
		<classes>
			<class
				name="Tests.ReimbursementInformation.Rei_MA_by_Product_Test" />
		</classes>
	</test>

</suite>